html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("beryl.jpg");
/*    background-image: url("deeply.jpg");*/
/*    background: #2c3e50;*/
    background-size: cover;
/*    height: 100%;*/

}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.25s ease;
}

a:hover {
    color: #3e64c9;
}

.v-center {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btns {
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}


.btn-34, .btn-58, .btn-misc {
    color: white;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 8px solid #ecf0f1;
    text-align: center;
    margin: 80px 40px;
    box-shadow: 0 0 50px #333;
    transition: all 0.5s ease;
}

.btn-34 {
    background: #8e44ad;
}

.btn-34:hover {
    background: #9b59b6;
}

.btn-58 {
    background: #27ae60;
}

.btn-58:hover {
    background: #2ecc71;
}

.btn-misc {
    background: #c0392b;
}

.btn-misc:hover {
    background: #e74c3c;
}

.btn-34:hover, .btn-58:hover, .btn-misc:hover {
    box-shadow: 0 0 50px #FFF;
}

.btn-34 p, .btn-58 p, .btn-misc p {
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
}

.btn-34 i, .btn-58 i, .btn-misc i {
    font-size: 3.5em;
    padding-top: 30px;
    
}

#wellcome {
    text-align: center;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    padding: 140px 0 0 0 ;
    color: #e5e5e5;
}

#date {
    text-align: center;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    padding: 10px 0 0 0 ;
    color: #e5e5e5;
}

.links-container{
    background-color: rgba(11, 10, 10, 0.66);
    padding: 20px;
    margin: 40px 120px;
    border-radius: 10px;
    font-family: 'Source Code Pro';
    color: #fff;
}

.link {
    display: flex;
    padding: 20px;
}

.left {
    display: flex;
    background: rgba(255, 255, 255, 0.08);
    flex: 0 0 180px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

.left {
    font-size: 1em;
    font-weight: 600;
}

.right {
    background: rgba(255, 255, 255, 0.31);
    flex: 1 1 auto;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 0 10px 10px 0;

}

.right ul li {
    display: inline;
    padding: 0 10px;
    margin-left: 10px
}
